allyourx/cases/journey/gpx_reference/gpx.rng

<?xml version="1.0" encoding="utf-8"?> 
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0"
   xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.topografix.com/GPX/1/1"
   ns="http://www.topografix.com/GPX/1/1"
   datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
   <a:documentation> GPX schema version 1.1 - For more information on GPX and this schema, visit
      http://www.topografix.com/gpx.asp GPX uses the following conventions: all coordinates are
      relative to the WGS84 datum. All measurements are in metric units. </a:documentation>
   <rng:start combine="choice">
      <rng:ref name="starting_gpx"/>
   </rng:start>
   <rng:define name="starting_gpx">
      <rng:element name="gpx">
         <rng:ref name="gpxType"/>
         <a:documentation> GPX is the root element in the XML file. </a:documentation>
      </rng:element>
   </rng:define>
   <rng:define name="gpxType">
      <a:documentation> GPX documents contain a metadata header, followed by waypoints, routes, and
         tracks. You can add your own elements to the extensions section of the GPX document. </a:documentation>
      <rng:optional>
         <rng:element name="metadata">
            <rng:ref name="metadataType"/>
            <a:documentation> Metadata about the file. </a:documentation>
         </rng:element>
      </rng:optional>
      <rng:zeroOrMore>
         <rng:element name="wpt">
            <rng:ref name="wptType"/>
            <a:documentation> A list of waypoints. </a:documentation>
         </rng:element>
      </rng:zeroOrMore>
      <rng:zeroOrMore>
         <rng:element name="rte">
            <rng:ref name="rteType"/>
            <a:documentation> A list of routes. </a:documentation>
         </rng:element>
      </rng:zeroOrMore>
      <rng:zeroOrMore>
         <rng:element name="trk">
            <rng:ref name="trkType"/>
            <a:documentation> A list of tracks. </a:documentation>
         </rng:element>
      </rng:zeroOrMore>
      <rng:optional>
         <rng:element name="extensions">
            <rng:ref name="extensionsType"/>
            <a:documentation> You can add extend GPX by adding your own elements from another schema
               here. </a:documentation>
         </rng:element>
      </rng:optional>
      <rng:attribute name="version">
         <rng:data type="string">
            <a:documentation> You must include the version number in your GPX document.
            </a:documentation>
         </rng:data>
      </rng:attribute>
      <rng:attribute name="creator">
         <rng:data type="string">
            <a:documentation> You must include the name or URL of the software that created your GPX
               document. This allows others to inform the creator of a GPX instance document that
               fails to validate. </a:documentation>
         </rng:data>
      </rng:attribute>
   </rng:define>
   <rng:define name="metadataType">
      <a:documentation> Information about the GPX file, author, and copyright restrictions goes in
         the metadata section. Providing rich, meaningful information about your GPX files allows
         others to search for and use your GPS data. </a:documentation>
      <!-- elements must appear in this order -->
      <rng:optional>
         <rng:element name="name">
            <rng:data type="string">
               <a:documentation> The name of the GPX file. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="desc">
            <rng:data type="string">
               <a:documentation> A description of the contents of the GPX file. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="author">
            <rng:ref name="personType"/>
            <a:documentation> The person or organization who created the GPX file.
            </a:documentation>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="copyright">
            <rng:ref name="copyrightType"/>
            <a:documentation> Copyright and license information governing use of the file.
            </a:documentation>
         </rng:element>
      </rng:optional>
      <rng:zeroOrMore>
         <rng:element name="link">
            <rng:ref name="linkType"/>
            <a:documentation> URLs associated with the location described in the file.
            </a:documentation>
         </rng:element>
      </rng:zeroOrMore>
      <rng:optional>
         <rng:element name="time">
            <rng:data type="dateTime">
               <a:documentation> The creation date of the file. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="keywords">
            <rng:data type="string">
               <a:documentation> Keywords associated with the file. Search engines or databases can
                  use this information to classify the data. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="bounds">
            <rng:ref name="boundsType"/>
            <a:documentation> Minimum and maximum coordinates which describe the extent of the
               coordinates in the file. </a:documentation>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="extensions">
            <rng:ref name="extensionsType"/>
            <a:documentation> You can add extend GPX by adding your own elements from another schema
               here. </a:documentation>
         </rng:element>
      </rng:optional>
   </rng:define>
   <rng:define name="wptType">
      <a:documentation> wpt represents a waypoint, point of interest, or named feature on a map. </a:documentation>
      <!-- elements must appear in this order -->
      <!-- Position info -->
      <rng:optional>
         <rng:element name="ele">
            <rng:data type="decimal">
               <a:documentation> Elevation (in meters) of the point. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="time">
            <rng:data type="dateTime">
               <a:documentation> Creation/modification timestamp for element. Date and time in are
                  in Univeral Coordinated Time (UTC), not local time! Conforms to ISO 8601
                  specification for date/time representation. Fractional seconds are allowed for
                  millisecond timing in tracklogs. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="magvar">
            <rng:ref name="degreesType"/>
            <a:documentation> Magnetic variation (in degrees) at the point </a:documentation>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="geoidheight">
            <rng:data type="decimal">
               <a:documentation> Height (in meters) of geoid (mean sea level) above WGS84 earth
                  ellipsoid. As defined in NMEA GGA message. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <!-- Description info -->
      <rng:optional>
         <rng:element name="name">
            <rng:data type="string">
               <a:documentation> The GPS name of the waypoint. This field will be transferred to and
                  from the GPS. GPX does not place restrictions on the length of this field or the
                  characters contained in it. It is up to the receiving application to validate the
                  field before sending it to the GPS. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="cmt">
            <rng:data type="string">
               <a:documentation> GPS waypoint comment. Sent to GPS as comment. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="desc">
            <rng:data type="string">
               <a:documentation> A text description of the element. Holds additional information
                  about the element intended for the user, not the GPS. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="src">
            <rng:data type="string">
               <a:documentation> Source of data. Included to give user some idea of reliability and
                  accuracy of data. "Garmin eTrex", "USGS quad Boston North", e.g.
               </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:zeroOrMore>
         <rng:element name="link">
            <rng:ref name="linkType"/>
            <a:documentation> Link to additional information about the waypoint. </a:documentation>
         </rng:element>
      </rng:zeroOrMore>
      <rng:optional>
         <rng:element name="sym">
            <rng:data type="string">
               <a:documentation> Text of GPS symbol name. For interchange with other programs, use
                  the exact spelling of the symbol as displayed on the GPS. If the GPS abbreviates
                  words, spell them out. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="type">
            <rng:data type="string">
               <a:documentation> Type (classification) of the waypoint. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <!-- Accuracy info -->
      <rng:optional>
         <rng:element name="fix">
            <rng:ref name="fixType"/>
            <a:documentation> Type of GPX fix. </a:documentation>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="sat">
            <rng:data type="nonNegativeInteger">
               <a:documentation> Number of satellites used to calculate the GPX fix.
               </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="hdop">
            <rng:data type="decimal">
               <a:documentation> Horizontal dilution of precision. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="vdop">
            <rng:data type="decimal">
               <a:documentation> Vertical dilution of precision. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="pdop">
            <rng:data type="decimal">
               <a:documentation> Position dilution of precision. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="ageofdgpsdata">
            <rng:data type="decimal">
               <a:documentation> Number of seconds since last DGPS update. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="dgpsid">
            <rng:ref name="dgpsStationType"/>
            <a:documentation> ID of DGPS station used in differential correction. </a:documentation>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="extensions">
            <rng:ref name="extensionsType"/>
            <a:documentation> You can add extend GPX by adding your own elements from another schema
               here. </a:documentation>
         </rng:element>
      </rng:optional>
      <rng:attribute name="lat">
         <rng:ref name="latitudeType"/>
         <a:documentation> The latitude of the point. This is always in decimal degrees, and always
            in WGS84 datum. </a:documentation>
      </rng:attribute>
      <rng:attribute name="lon">
         <rng:ref name="longitudeType"/>
         <a:documentation> The longitude of the point. This is always in decimal degrees, and always
            in WGS84 datum. </a:documentation>
      </rng:attribute>
   </rng:define>
   <rng:define name="rteType">
      <a:documentation> rte represents route - an ordered list of waypoints representing a series of
         turn points leading to a destination. </a:documentation>
      <rng:optional>
         <rng:element name="name">
            <rng:data type="string">
               <a:documentation> GPS name of route. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="cmt">
            <rng:data type="string">
               <a:documentation> GPS comment for route. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="desc">
            <rng:data type="string">
               <a:documentation> Text description of route for user. Not sent to GPS.
               </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="src">
            <rng:data type="string">
               <a:documentation> Source of data. Included to give user some idea of reliability and
                  accuracy of data. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:zeroOrMore>
         <rng:element name="link">
            <rng:ref name="linkType"/>
            <a:documentation> Links to external information about the route. </a:documentation>
         </rng:element>
      </rng:zeroOrMore>
      <rng:optional>
         <rng:element name="number">
            <rng:data type="nonNegativeInteger">
               <a:documentation> GPS route number. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="type">
            <rng:data type="string">
               <a:documentation> Type (classification) of route. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="extensions">
            <rng:ref name="extensionsType"/>
            <a:documentation> You can add extend GPX by adding your own elements from another schema
               here. </a:documentation>
         </rng:element>
      </rng:optional>
      <rng:zeroOrMore>
         <rng:element name="rtept">
            <rng:ref name="wptType"/>
            <a:documentation> A list of route points. </a:documentation>
         </rng:element>
      </rng:zeroOrMore>
   </rng:define>
   <rng:define name="trkType">
      <a:documentation> trk represents a track - an ordered list of points describing a path. </a:documentation>
      <rng:optional>
         <rng:element name="name">
            <rng:data type="string">
               <a:documentation> GPS name of track. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="cmt">
            <rng:data type="string">
               <a:documentation> GPS comment for track. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="desc">
            <rng:data type="string">
               <a:documentation> User description of track. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="src">
            <rng:data type="string">
               <a:documentation> Source of data. Included to give user some idea of reliability and
                  accuracy of data. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:zeroOrMore>
         <rng:element name="link">
            <rng:ref name="linkType"/>
            <a:documentation> Links to external information about track. </a:documentation>
         </rng:element>
      </rng:zeroOrMore>
      <rng:optional>
         <rng:element name="number">
            <rng:data type="nonNegativeInteger">
               <a:documentation> GPS track number. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="type">
            <rng:data type="string">
               <a:documentation> Type (classification) of track. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="extensions">
            <rng:ref name="extensionsType"/>
            <a:documentation> You can add extend GPX by adding your own elements from another schema
               here. </a:documentation>
         </rng:element>
      </rng:optional>
      <rng:zeroOrMore>
         <rng:element name="trkseg">
            <rng:ref name="trksegType"/>
            <a:documentation> A Track Segment holds a list of Track Points which are logically
               connected in order. To represent a single GPS track where GPS reception was lost, or
               the GPS receiver was turned off, start a new Track Segment for each continuous span
               of track data. </a:documentation>
         </rng:element>
      </rng:zeroOrMore>
   </rng:define>
   <rng:define name="extensionsType">
      <a:documentation> You can add extend GPX by adding your own elements from another schema here. </a:documentation>
      <rng:zeroOrMore>
         <rng:element>
            <rng:anyName/>
            <rng:text/>
         </rng:element>
      </rng:zeroOrMore>
   </rng:define>
   <rng:define name="trksegType">
      <a:documentation> A Track Segment holds a list of Track Points which are logically connected
         in order. To represent a single GPS track where GPS reception was lost, or the GPS receiver
         was turned off, start a new Track Segment for each continuous span of track data. </a:documentation>
      <!-- elements must appear in this order -->
      <rng:zeroOrMore>
         <rng:element name="trkpt">
            <rng:ref name="wptType"/>
            <a:documentation> A Track Point holds the coordinates, elevation, timestamp, and
               metadata for a single point in a track. </a:documentation>
         </rng:element>
      </rng:zeroOrMore>
      <rng:optional>
         <rng:element name="extensions">
            <rng:ref name="extensionsType"/>
            <a:documentation> You can add extend GPX by adding your own elements from another schema
               here. </a:documentation>
         </rng:element>
      </rng:optional>
   </rng:define>
   <rng:define name="copyrightType">
      <a:documentation> Information about the copyright holder and any license governing use of this
         file. By linking to an appropriate license, you may place your data into the public domain
         or grant additional usage rights. </a:documentation>
      <!-- elements must appear in this order -->
      <rng:optional>
         <rng:element name="year">
            <rng:data type="gYear">
               <a:documentation> Year of copyright. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="license">
            <rng:data type="anyURI">
               <a:documentation> Link to external file containing license text. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:attribute name="author">
         <rng:data type="string">
            <a:documentation> Copyright holder (TopoSoft, Inc.) </a:documentation>
         </rng:data>
      </rng:attribute>
   </rng:define>
   <rng:define name="linkType">
      <a:documentation> A link to an external resource (Web page, digital photo, video clip, etc)
         with additional information. </a:documentation>
      <!-- elements must appear in this order -->
      <rng:optional>
         <rng:element name="text">
            <rng:data type="string">
               <a:documentation> Text of hyperlink. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="type">
            <rng:data type="string">
               <a:documentation> Mime type of content (image/jpeg) </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:attribute name="href">
         <rng:data type="anyURI">
            <a:documentation> URL of hyperlink. </a:documentation>
         </rng:data>
      </rng:attribute>
   </rng:define>
   <rng:define name="emailType">
      <a:documentation> An email address. Broken into two parts (id and domain) to help prevent
         email harvesting. </a:documentation>
      <rng:attribute name="id">
         <rng:data type="string">
            <a:documentation> id half of email address (billgates2004) </a:documentation>
         </rng:data>
      </rng:attribute>
      <rng:attribute name="domain">
         <rng:data type="string">
            <a:documentation> domain half of email address (hotmail.com) </a:documentation>
         </rng:data>
      </rng:attribute>
   </rng:define>
   <rng:define name="personType">
      <a:documentation> A person or organization. </a:documentation>
      <!-- elements must appear in this order -->
      <rng:optional>
         <rng:element name="name">
            <rng:data type="string">
               <a:documentation> Name of person or organization. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="email">
            <rng:ref name="emailType"/>
            <a:documentation> Email address. </a:documentation>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="link">
            <rng:ref name="linkType"/>
            <a:documentation> Link to Web site or other external information about person.
            </a:documentation>
         </rng:element>
      </rng:optional>
   </rng:define>
   <rng:define name="ptType">
      <a:documentation> A geographic point with optional elevation and time. Available for use by
         other schemas. </a:documentation>
      <!-- elements must appear in this order -->
      <rng:optional>
         <rng:element name="ele">
            <rng:data type="decimal">
               <a:documentation> The elevation (in meters) of the point. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:optional>
         <rng:element name="time">
            <rng:data type="dateTime">
               <a:documentation> The time that the point was recorded. </a:documentation>
            </rng:data>
         </rng:element>
      </rng:optional>
      <rng:attribute name="lat">
         <rng:ref name="latitudeType"/>
         <a:documentation> The latitude of the point. Decimal degrees, WGS84 datum.
         </a:documentation>
      </rng:attribute>
      <rng:attribute name="lon">
         <rng:ref name="longitudeType"/>
         <a:documentation> The latitude of the point. Decimal degrees, WGS84 datum.
         </a:documentation>
      </rng:attribute>
   </rng:define>
   <rng:define name="ptsegType">
      <a:documentation> An ordered sequence of points. (for polygons or polylines, e.g.) </a:documentation>
      <!-- elements must appear in this order -->
      <rng:zeroOrMore>
         <rng:element name="pt">
            <rng:ref name="ptType"/>
            <a:documentation> Ordered list of geographic points. </a:documentation>
         </rng:element>
      </rng:zeroOrMore>
   </rng:define>
   <rng:define name="boundsType">
      <a:documentation> Two lat/lon pairs defining the extent of an element. </a:documentation>
      <rng:attribute name="minlat">
         <rng:ref name="latitudeType"/>
         <a:documentation> The minimum latitude. </a:documentation>
      </rng:attribute>
      <rng:attribute name="minlon">
         <rng:ref name="longitudeType"/>
         <a:documentation> The minimum longitude. </a:documentation>
      </rng:attribute>
      <rng:attribute name="maxlat">
         <rng:ref name="latitudeType"/>
         <a:documentation> The maximum latitude. </a:documentation>
      </rng:attribute>
      <rng:attribute name="maxlon">
         <rng:ref name="longitudeType"/>
         <a:documentation> The maximum longitude. </a:documentation>
      </rng:attribute>
   </rng:define>
   <rng:define name="latitudeType">
      <a:documentation> The latitude of the point. Decimal degrees, WGS84 datum. </a:documentation>
      <rng:data type="decimal">
         <rng:param name="minInclusive">-90.0</rng:param>
         <rng:param name="maxInclusive">90.0</rng:param>
      </rng:data>
   </rng:define>
   <rng:define name="longitudeType">
      <a:documentation> The longitude of the point. Decimal degrees, WGS84 datum. </a:documentation>
      <rng:data type="decimal">
         <rng:param name="minInclusive">-180.0</rng:param>
         <rng:param name="maxExclusive">180.0</rng:param>
      </rng:data>
   </rng:define>
   <rng:define name="degreesType">
      <a:documentation> Used for bearing, heading, course. Units are decimal degrees, true (not
         magnetic). </a:documentation>
      <rng:data type="decimal">
         <rng:param name="minInclusive">0.0</rng:param>
         <rng:param name="maxExclusive">360.0</rng:param>
      </rng:data>
   </rng:define>
   <rng:define name="fixType">
      <a:documentation> Type of GPS fix. none means GPS had no fix. To signify "the fix info is
         unknown, leave out fixType entirely. pps = military signal used </a:documentation>
      <rng:choice>
         <rng:value>none</rng:value>
         <rng:value>2d</rng:value>
         <rng:value>3d</rng:value>
         <rng:value>dgps</rng:value>
         <rng:value>pps</rng:value>
      </rng:choice>
   </rng:define>
   <rng:define name="dgpsStationType">
      <a:documentation> Represents a differential GPS station. </a:documentation>
      <rng:data type="integer">
         <rng:param name="minInclusive">0</rng:param>
         <rng:param name="maxInclusive">1023</rng:param>
      </rng:data>
   </rng:define>
</rng:grammar>